<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css" rel="stylesheet" />


</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Poster</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="../Profile/Index">Profile</a></li>
                    <li><a href="../Pofile/Post">Post</a></li>
                </ul>
            </div>
        </div>
    </nav>
    @Scripts.Render("~/bundles/jquery")
 <div class="container body-content">
     @RenderBody()
 </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#ListTable').DataTable();
        });
    </script>

</body>
</html>
